.homefeed-container {
  /* outline: 1px solid rgb(238, 239, 242); */
  font-family: Helvetica Neue, Arial, sans-serif;
  height: 400;
  width: 400;
  font-size: 16px; 
  align-items: center;
  background-color: white;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 0px rgb(95 95 95 / 25%);
  
}
.background-homefeed {
  background-color: #0970d169; 
  width: 100%;
  height: 300px; 
  margin-bottom: 60px;
  /* background-image: url("../pictures/purple_trees.jpg"); */
  background-size: cover;
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* border: 1px solid rgba(167, 167, 167, 0.377); */
  box-shadow: 0px 0px 5px 0px rgb(95 95 95 / 25%);
  border-radius: 20px; 
}

/* .photo-index-container-inner {
  font-family: Helvetica Neue, Arial, sans-serif;
  height: 400;
  width: 400;
  font-size: 16px; 
  align-items: center;
  background-color: white;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 0px rgb(95 95 95 / 25%);
  padding: 50px;
}

.photo-index-container-inner-top {
  font-family: Helvetica Neue, Arial, sans-serif;
  height: 100px;
  width: 70%;
  font-size: 16px; 
  align-items: center;
  background-color: white;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 0px rgb(95 95 95 / 25%);
  justify-content: center;
  align-items: center;
} */


.avatar {
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  width: 100px; 
  height: 100px; 
  vertical-align: middle;
  align-items: center;
  margin-left: 46%;
  margin-top: 250px;
  box-sizing: border-box;
}

.inner-homefeed-buttons {
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
  margin-bottom: 10px;
}

.random-generator-container {
  /* display: flex;  */
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom:30px;
}

.random-generator-container-inner {
  display: flex; 
  justify-content: center;
  align-items: center;
}