/* 
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 h1 {

    display: flex;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 25px;
    font-weight: bolder
 }

 .login-form-container {
   display: flex;
   justify-content: center;
   margin-top: 100px;
   font-family: Helvetica Neue, Arial, sans-serif;
 }

 .login-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
   font-family: Helvetica Neue, Arial, sans-serif;
 }

 .login-input {
   margin-left: 20px;
   font-family: Helvetica Neue, Arial, sans-serif;
 }
   
input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgb(10, 55, 68);
}

input[type=password], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=password]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgb(10, 55, 68);
}

 .login-form-box {
   outline: 1px solid black;
   padding: 50px;
   font-family: Helvetica Neue, Arial, sans-serif;
 }

 

.header-container {
  background-color: rgb(255, 255, 255);
}

.login-signup {
  flex-direction: column;
  padding: 0;
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  position: absolute;
  top: 8px;
  right: 8px;
	background-color: white;
  font-size: 15px;
} 
