// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.upload-opener {
  background-color:#f7f8fa;
  padding-top: 50px;
  padding-bottom: 300px;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
  outline: 1px solid rgb(238, 239, 242);
}

h1 {
  display: flex;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 25px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  margin: auto;
 }
 
h3 {
  font-size: 16px;
  font-weight: normal;
  color: rgb(49, 49, 49);
  text-decoration: none;
  font-family: Helvetica Neue, Arial, sans-serif;
  align-items: center;
  justify-content: center;
  margin: auto;
 }

.full-container {
   display: flex;
   justify-content: center;
   /* margin-top: 50px;
   margin-bottom: 50px; */
   font-family: Helvetica Neue, Arial, sans-serif;
   background-color: #f7f8fa;
 }

.upload-photo-container {
   outline: 1px solid rgb(238, 239, 242);
   padding-top: 70px;
   padding-bottom: 70px;
   padding-left: 75px;
   padding-right: 75px;
   font-family: Helvetica Neue, Arial, sans-serif;
   height: 400;
  //  max-height: 400; 
   width: 400;
   font-size: 16px; 
   align-items: center;
   background-color: white;
  //  border: 1px black;
  justify-content: center;

 }

.upload-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
   font-family: Helvetica Neue, Arial, sans-serif;
   margin: 50px; 
  //  border: 2px black; 
}

.upload-button-form {
  width: auto;
  min-width: 124px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, FreeSans, Arial, sansserif;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin: 0px;
  border-width: 2px;
  border-radius: 25px;
  // border-style: solid;
  cursor: pointer;
  text-align: center;
  max-height: 48px;
  padding: 10px 10px 10px 10px;
  outline: none;
  background-color: #0870d1;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-color: #0870d1;
  margin: 10px;
}

.upload-button-form:hover {
  text-decoration: none;
  background-color: black;
  color: white; 
}

.cancel-button-form {
  width: auto;
  min-width: 124px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, FreeSans, Arial, sansserif;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin: 0px;
  border-width: 2px;
  border-radius: 25px;
  // border-style: solid;
  cursor: pointer;
  text-align: center;
  max-height: 48px;
  padding: 10px 10px 10px 10px;
  outline: none;
  background-color: rgb(194, 22, 22);
  border-color: rgb(194, 22, 22);
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.picture-info {
  border: 1px black;
  background-color: white; 
}